{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Forgotten Password</title>
{% endblock meta %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>FORGOTTEN PASSWORD</span>
    </div>

    <div class="column">
        <div class="forms">
            <form class="login" method="post" action=".">
                <div class="instruction">Please enter your email. You will receive a email with furder instruction</div>
                {% csrf_token %}
                <ul>
                    <li>
                        {% if form.email.errors %}
                            {{ form.email.errors }}
                        {% endif %}
                        <label for="" class="main_label"></label></li>
                    <li>
                        {{ form.email }}
                    </li>

                    <li>
                        <input type="submit" value="Send">
                    </li>

                </ul>
            </form>
        </div>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}
        <script src="{{STATIC_URL}}js/error.js"></script>
    {% endblock scripts %}
</body>
</html>