{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Login</title>
{% endblock meta %}

    {% block title %}
        Login
    {% endblock title %}


    {% block content %}
    <div id="login" class="column">
        <form id="forms" class="login" method="post" action=".">
        <div class="title">
            Please enter your login details.
        </div>
            {% csrf_token %}
                {% if user_form.errors %}
                    <ul class="errorlist"><li><ul class="errorlist"><li>Invalid login details</li></ul></li></ul>
                {% endif %}
            <ul>
                <li>
                    {% if user_form.email.errors %}
                        {{ user_form.email.errors }}
                    {% endif %}
                    <label for="" class="main_label">Email</label></li>
                <li>
                    {{ user_form.email }}
                </li>
                <li>
                    {% if user_form.password.errors %}
                        {{ user_form.password.errors }}
                    {% endif %}
                    <label for="" class="main_label">Password</label></li>
                <li>
                    {{ user_form.password }}
                </li>
                <li>
                    <input type="submit" class="submit gray" name="log_user" value="Log In">
                </li>
                <li class="or">
                    <div></div>
                    <div class="or"> OR </div>
                </li>
                <li class="facebook">
                    <div class="facebook_icon"></div>
                    <input type="button" value="Log in with Facebook" onclick="log_me()" class="facebook_button">
                    <div class="fb-login-button" data-perms="email" data-scope="email" data-max-rows="1" data-show-faces="false"></div>
                    <div id="fb-root"></div>
                </li>
            </ul>
        </form>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script src="{{STATIC_URL}}js/facebook.js"></script>
        <script src="{{STATIC_URL}}js/error.js"></script>
    {% endblock scripts %}
</body>
</html>