{% extends "master.html" %}
{% load thumbnail %}
{% load i18n %}

    {% block meta %}
        <title>Partytask – booking platform for top event professionals and service providers - Bookings</title>
    {% endblock meta %}

    {% block content %}
    <script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/qtip.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>

<div id="content">
    <div class="header">
        <span>BOOKINGS</span>
    </div>

    <div class="column">
        <table id="bookings">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ORDER ID</th>
                    <th>DATE</th>
                    <th>LISTING</th>
                    <th>ORDERED BY</th>
                    <th>AMOUNT</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for b in bookings %}
                <tr data-number="{{ b.id }}" class="{% if b.id|slugify == request.GET.show %} active{% endif %}{% cycle 'dark' 'light' %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ b.id }}</td>
                    <td class="start_time_{{ b.id }}">

                    </td>
                    <td class="listing_view listing_view_{{b.id}}">
                        <a href="/listings/{{b.listing_id}}">{{b.title}}</a>
                    </td>
                    <td>
                        <a href="/users/profile/{{b.client.id}}">
                            {% thumbnail b.client.get_avatar "55x55" crop="center" as im %}
                                <img src="{{ im.url }}" style="width: 55px; height: 55px; border: 2px solid white; border-radius: 999px; width: 45px; height: 45px;">
                            {% empty %}
                                <img src="{{ STATIC_URL }}img/default.png" style="width: 55px; height: 55px; border: 2px solid white; border-radius: 999px">
                            {% endthumbnail %}
                        </a>
                    </td>
                    <td>
                        $ {{ b.price|floatformat:-3 }}
                    </td>
                    <td>
                        {{ b.get_status }}
                        <script type="text/javascript">
                            start_time = {{b.start_time}}; //get start time
                            time_now = Math.floor(new Date().getTime() / 1000); //now in UTC seconds
                            delta_time = start_time - time_now; // delta time
                            x_days_in_seconds = 273600; // 3 days in seconds
                            b_id = '{{ b.id }}'; // booking id
                            if(delta_time < x_days_in_seconds){
                                $('.start_time_' + b_id).closest('tr').addClass('dialog');
                            }
                            start_time = moment(start_time*1000).format('h:mm a   MM/DD/YYYY');
                            $('.start_time_' + b_id).text(start_time);
                            $('.listing_view_' + b_id + ' a').qtip({
                              content: '{% thumbnail b.listing.get_picture "200x112" crop="center" as im %}<img src="{{ im.url }}" style="width: 222px;" alt="listing">{% endthumbnail %}',
                              style: { width: { min: 222 } }
                            });
                        </script>
                    </td>
                    <td>
                        {% if not b.status == 2 %}
                            {% if b.status == 0 %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{b.id}}" name="sn_approve">
                                <input type="submit" class="new_button green nb_hover" value="Approve">
                            </form>
                            {% endif %}
                            <form class="cancel" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{b.id}}" name="sn">
                                <input type="submit" class="new_button red nb_hover" value="Cancel">
                            </form>
                        {% else %}
                                None
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if bookings|length == 0 %}
                <tr class="pagination">
                    <td colspan='8'>
                        <div class="step-links">
                            Currently you don't have any bookings. 
                        </div>
                    </td>
                </tr>
                {% elif bookings.has_previous or bookings.has_next %}
                <tr class="pagination">
                    <td colspan='8'>
                        <div class="step-links">
                            {% if bookings.has_previous %}
                                <a href="?page={{ bookings.previous_page_number }}">&lt;</a>
                            {% endif %}

                            <span class="current">
                            {% for page in bookings.paginator.page_range %}
                                <a href="?page={{page}}" class='page{% if page == 0 or page == bookings.number %} active{% endif %}'>{{ page }}</a>
                            {% endfor %}
                            </span>

                            {% if bookings.has_next %}
                                <a href="?page={{ bookings.next_page_number }}">></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<div class="dialog_box" style="display: none">
    <div class="wrapper">
        <div class="head">WARNING!<a href="javascript:;">X</a></div>
        <div class="body">
            <div class="text">Cancelling an appointmnt will increase your cancellation rate and we will remove 10 points from your monthly score.<br/><br/>Are you sure you want to cancel this appointment?</div>    
            <ul>
                <li class="Yes"><a class="new_button green nb_hover" href="javascript:;">Yes</a></li>
                <li class="No"><a class="new_button red nb_hover" href="javascript:;">No</a></li>
            </ul>
        </div>
    </div>
</div>
    {% endblock content %}

    {% block scripts %}
    <script type="text/javascript">
        $('form.cancel').submit(function(e){
            if ($(this).closest('tr').hasClass('dialog')){
                $('.dialog_box').data('number', $(this).closest('tr').data('number')).show();
                e.preventDefault();
            }
        });

        $('.dialog_box .head a, .dialog_box .body li.No a').click(function(){
            $('.dialog_box').hide();
        });

        $('.dialog_box .body li.Yes a').click(function(){
            $('tr[data-number="' + $('.dialog_box').data('number') + '"]').removeClass('dialog').find('.cancel').filter('form').submit();
        });
        
        $('.dialog_box').click(function(e){
            if($(e.target).hasClass('dialog_box'))
                $(this).hide()
        });
    </script>
    {% endblock scripts %}
</body>
</html>