{% extends "master.html" %}
{% load thumbnail %}
{% load i18n %}

    {% block meta %}
        <title>Partytask – booking platform for top event professionals and service providers - Bookings</title>
    {% endblock meta %}

    {% block content %}
    <script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/qtip.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>

<div id="content">
    <div class="header">
        <span>WALLET</span>
    </div>

    <div class="column">
        {% block msg %}
            {% if messages %}
                {% for message in messages %}
                <ul class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                        <li class="tag"></li>
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        <li class="close"><a href="javascript:;">x</a></li>
                </ul>
                {% endfor %}
            {% endif %}
        {% endblock msg %}
        <div class="whead">
            <ul>
                <li>All EARNINGS: {{ all_earnings|floatformat:-3 }}</li>
                <li>All WITHDRAWS: {{ all_widthraws }}</li>
                <li>AVAILABLE FUNDS: {{ avaible_funds|floatformat:-3 }}</li>
                <li><a href="/artists/withdraw" class="small_button green">WITHDRAW MONEY</a></li>
            </ul>
        </div>
        <table id="bookings">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>DATE</th>
                    <th>AMOUNT</th>
                    <th>PAID TO</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                {% for t in transactions %}
                <tr data-number="{{ t.id }}" class="{% cycle 'dark' 'light' %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ t.id }}</td>
                    <td>{{ t.created }}</td>
                    <td>$ {{ t.money|floatformat:-3 }}</td>
                    <td>
                        {{ t.get_method }}
                    </td>
                    <td>
                        {{ t.get_status }}
                    </td>
                </tr>
                {% empty %}
                <tr class="pagination">
                    <td colspan='7'>
                        <div class="step-links">
                            We haven't registrited any activities! 
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    {% endblock content %}

    {% block scripts %}
    <script>
        $(".close").click(function(){
            $(this).closest("ul").remove();
        });
    </script>
    {% endblock scripts %}
</body>
</html>