{% extends "master.html" %}
{% load thumbnail %}
{% load i18n %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - All Notifications</title>
{% endblock meta %}

    {% block title %}
        Notifications
    {% endblock title %}

    {% block content %}
<div id="notifications">
    <ul>
        {% for n in notifications %}    
            <li class="notification {% if not n.is_readed %}not_readed{% endif %}" data-time="{{ n.time }}">
                <div class="left">
                    {% if not n.avatar == '/static/img/logo.png' %}
                        {% thumbnail n.avatar "55x55" crop="center" as im %}
                            <img src="{{ im.url }}" style="border: 2px solid white; border-radius: 999px;">
                        {% empty %}
                            <img src="{{ STATIC_URL }}img/default.png" style="width: 55px; height: 55px; border: 2px solid white; border-radius: 999px">
                        {% endthumbnail %}
                    {% else %}
                        <img src="/static/img/logo.png" style="border: 2px solid white; border-radius: 999px; width: 55px; height: 55px;">
                    {% endif %}
                </div>
                <div class="right notification_{{forloop.counter0}}">
                    <p>{{ n.text|safe }}</p>
                    <p class="time"></p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

    {% endblock content %}
    {% block scripts %}
    <script type="text/javascript">
    $('.notification').each(function(){
        var displayed_time = parseInt($(this).data("time"));
        $(this).find(".right .time").append(moment(displayed_time*1000).fromNow());
    })
    </script>
    {% endblock scripts %}
</body>
</html>