{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Artist Settings</title>
{% endblock meta %}

    {% block title %}
        Settings
    {% endblock title %}

    {% block content %}
        {% block msg %}

        {% endblock msg %}
    <div class="column">
        {% block settings %}
        {% endblock settings %}
    </div>

    {% endblock content %}
</body>
</html>