{% extends "artists/settings.html" %}
{% load i18n %}
{% load thumbnail %}

    {% block msg %}
        {% if messages %}
        <div class="column">
            {% for message in messages %}
            <ul class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                    <li class="tag"></li>
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    <li class="close"><a href="javascript:;">x</a></li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
    {% endblock msg %}

    {% block settings %}
    <!-- {% csrf_token %} -->
    <ul id="settings" class="settings account">
            <li class="left">
                <label for="">Email</label><br/>
                <form action="{% url 'change_email' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" value="{{user.email}}" readonly disabled name="email">
                    <div class="small_button gray edit">Edit</div>
                    <div class="small_button gray cancel hidden">Cancel</div>
                    <input type="submit" class="small_button green save hidden" value="Save">
                </form>
            </li>
            <li class="right">
                <label for="" class="old_pass">Password</label>
                <input type="password" value="{{user.email}}" readonly disabled class="old_pass">
                <div class="small_button gray edit">Edit</div>
                <form action="{% url 'change_password_user' %}" method="POST" class="hidden">
                    {% csrf_token %}
                    <label for="">Current password</label>
                    <input type="password" name="old_pass" class="new_pass" readonly disabled>
                    <label for="">New password</label>
                    <input type="password" name="new_pass_1" class="new_pass" readonly disabled>
                    <label for="">Repeat new password</label><br/>
                    <input type="password" name="new_pass_2" class="new_pass" readonly disabled>

                    <div class="small_button gray cancel hidden">Cancel</div>
                    <input type="submit" class="small_button green save hidden" value="Save">
                </form>
            </li>
        </li>
    </ul>
    {% endblock settings %}

    {% block scripts %}
    <script src="{{STATIC_URL}}js/account.js"></script>
    {% endblock scripts %}