{% load i18n %}
<html>
    <head>
    </head>
    <body>
        <table>
    
            <tbody>
            <tr>
            <td>
                {% blocktrans with receiver_name=receiver_name artistname=artistname %}
                <p>We are so sorry {{ receiver_name }},</p>
                <p>
                    Your appointment with {{ artistname }} has been declined. Probably the artist is busy right now with other customers. Here’s what you can do:
                    <ul>
                        <li>Click <a href="http://partytask.com/hair/">here</a> to schedule another appointment for different date and time</li>
                        <li>Search for similar listings in your area</li>
                        <li>Search for similar beauty artists in your area</li>
                    </ul>
                </p>
                <p>We are sure your next appointment is just one click away!</p>
                <p>Thank you,</p>
                <p>Partytask Team</p>
                {% endblocktrans %}
            </td>
            </tr>
            </tbody>
        </table>
        
    </body>

</html>