{% load i18n %}
<html>
    <head>
    </head>
    <body>
        <table>

            <tbody>
            <tr>
            <td>
                {% blocktrans with receiver_name=receiver_name %}
                <p>Hello {{ receiver_name }},</p>
                <p>Thank you for signing up!</p>
                <p>You have made the right decision. Partytask is the platform that will boost your appointments and help you manage your workflow easily.</p> 
                <p>What’s next? Only 3 easy steps:</p>
                <p>1. Set up your cancellation policy – you can do it from here</p>
                <p>2. Set up preferred payment method – you can do it from here</p>
                <p>3. Upload your listings – you can do it from <a href="http://partytask.com/artists/upload">here</a></p>
                <p>That's it! Once you complete these steps, you will start receiving booking requests from our customers. </p>
                <p>Thank you! </p>
                <p>Partytask Team</p>
                {% endblocktrans %}
            </td>
            </tr>
            </tbody>
        </table>

    </body>

</html>