{% load i18n %}
<html>
    <head>
    </head>
    <body>
        <table>
    
            <tbody>
            <tr>
            <td>
                <p>Hey, {{ receiver_name }},</p>
                <p>Did you forget your password?</p>
                <p>No worries, just click on the link below and get a new one:</p>
                <p>{{ link }}</p>
                <p>Thank you,</p>
                <p>Partytask Team</p>
            </td>
            </tr>
            </tbody>
        </table>
        
    </body>

</html>