{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Success Payment</title>
{% endblock meta %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>OH, NO !</span>
    </div>

    <div class="column">
        <div class="paypal_land">
            <div class="error">
                <div class="error"></div>
                ERROR 404
            </div>
            <div>
                <img src="{{ STATIC_URL }}img/big_scissor.png" alt="scissor">
            </div>
            <div class="info">
                Something went wrong !
            </div>
        </div>
    </div>
</div>
    {% endblock content %}
</body>
</html>