@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato);

$font_color: black;
$dark_blue: rgba(26, 24, 40, 1);
$header_purple: rgb(119, 87, 145);
$light_blue: rgba(56, 56, 78, 1);
$facebook_blue: rgba(59, 89, 152, 1);
$active_pink: rgb(251, 123, 156);
$error_red: rgb(234, 76, 136);
$font_gray: rgb(96, 99, 102);
$light_purple: rgb(119, 87, 145);
$border_gray: #d7d7d7;
$cool_blue: rgb(115, 191, 222);


html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: $font_gray;
    // background-color: rgb(247, 247, 247);
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: white;
}

.clear {
    clear: both;
}

.hidden {
    display: none !important;
}

.not_visible{
    visibility: hidden;
}

.clickable {
    cursor: pointer;
}

/* make picture gray */
img.deactivated {
    /* Firefox 10+, Firefox on Android */
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* IE 6-9 */
    filter: gray;
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    -webkit-filter: grayscale(100%);
}

input:not([type="date"]){
    @include box-sizing(border-box);
    border: 2px solid $font_gray;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    width: 100%;

    &.submit.gray{
        background: $font_gray;
        color: white;
        font-size: 16px;
    }
    &[type="submit"]{
        cursor: pointer;
    }
}

input[type="text"], input[type="button"], input[type="submit"]{
    -webkit-appearance: none;
}

textarea{
    @include box-sizing(border-box);
    -webkit-appearance: none;
    border: 2px solid $font_gray;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    height: 150px;
}

.error input{
    border: 2px solid $error_red;
}

.errorlist {
    width: 100%;
    height: 40px;
    color: white;
    background: $error_red;
    display: table;
    text-align: center;
    border-radius: 5px;
    position: relative;
    li {
        display: table-cell;
        vertical-align: middle;
    }
    &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $error_red;
        top: 40px;
        left: 46%;
    }
}


.new_button {
    display: inline-block;
    width: 135px;
    height: 35px;
    border: 2px solid black;
    line-height: 35px;
    color: black;
    border-radius: 99px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    &.white {
        border-color: white;
        color: white;
        &.nb_hover:hover {
            background: rgb(78, 169, 200);
        }
    }
    &.blue {
        border-color: rgb(78, 169, 200);
        color: rgb(78, 169, 200);
        &.nb_hover:hover {
            background: rgb(78, 169, 200);
        }
    }
    &.brown {
        border-color: rgb(77, 77, 77);
        color: rgb(77, 77, 77);
        &.nb_hover:hover {
            background: rgb(77, 77, 77);
        }
        &.active {
            background: rgb(77, 77, 77);
            border-color: white;
            color: white;
        }
    }
    &.red {
        border-color: rgb(174, 68, 96);
        color: rgb(174, 68, 96);
        &.nb_hover:hover {
            background: rgb(174, 68, 96);
        }
        &.active {
            background: rgb(174, 68, 96);
            border-color: white;
            color: white;
        }
    }
    &.green {
        border-color: rgb(73, 187, 153);
        color: rgb(73, 187, 153);
        &.nb_hover:hover {
            background: rgb(73, 187, 153);
        }
        &.active {
            background: rgb(73, 187, 153);
            border-color: white;
            color: white;
        }
    }
    &.hard_blue {
        font-size: 14px;
        display: inline-block;
        background: white;
        border-color: rgb(77, 150, 174);
        color: rgb(77, 150, 174);
        &.nb_hover:hover {
            background: rgb(77, 150, 174);
        }
        &.active {
            background: rgb(77, 150, 174);
            border-color: white;
            color: white;
        }
    }
    &.nb_hover {
        -webkit-transition: border-color 1s, background 1s, color 1s;
        /* For Safari 3.1 to 6.0 */
        transition: border-color 1s, background 1s, color 1s;
        &:hover {
            border-color: white;
            color: white;
        }
    }
}

.blue_button{
    color: white;
    width: 200px;
    line-height: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgb(85, 167, 228);
    display: inline-block;
    cursor: pointer;
    border: 1px solid $border_gray;
}

.custom_button {
    width: 100%;
    height: 45px;
    color: rgb(239, 239, 239);
    font-size: 18px !important;
    outline: none;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    border: 0px;
    background: rgb(73, 187, 153);
    cursor: pointer;
}

.icon{
    display: inline-block;
    background: url(../img/mobile_icons.png) no-repeat;
    &.foot_nav{
        display: inline-block;
        width: 64px;
        height: 50px;
        &.home{
            background-position: -105px -737px;
            &.active{
                background-position: -105px -634px;
            }
        }
        &.upload{
            background-position: -109px -1076px;
            &.active{
                background-position: -109px -976px;
            }
        }
        &.calendar{
            background-position: -223px -737px;
            &.active{
                background-position: -223px -634px;
            }
        }
        &.money{
            background-position: -343px -737px;
            &.active{
                background-position: -343px -634px;
            }
        }
        &.notification{
            background-position: -456px -737px;
            &.active{
                background-position: -456px -634px;
            }
        }
        &.profile{
            background-position: -573px -737px;
            &.active{
                background-position: -573px -634px;
            }
        }
        &.liked{
            background-position: -341px -1078px;
            &.active{
                background-position: -341px -979px;
            }
        }
    }
    &.back{
        @include box-sizing(border-box);
        width: 60px;
        height: 46px;
        margin-top: 4px;
        margin-left: 4px;
        background: url('../img/m_back.png') no-repeat;
    }
    &.menu{
        @include box-sizing(border-box);
        width: 60px;
        height: 46px;
        margin-top: 4px;
        margin-left: 4px;
        background: url('../img/m_menu.png') no-repeat;
    }
    &.price{
        width: 32px;
        height: 30px;
        background-position: -487px -445px;
        position: relative;
        top: 5px;
    }
    &.heart{
        width: 32px;
        height: 30px;
        background-position: -387px -445px;
        position: relative;
        top: 5px;
    }
    &.comments{
        width: 32px;
        height: 30px;
        background-position: -438px -445px;
        position: relative;
        top: 5px;
    }
}


div.bigstars div.rateit-range {
    background: url(../img/light_star.png);
    height: 26px;
}

div.bigstars div.rateit-hover {
    background: url(../img/star.png);
}

div.bigstars div.rateit-selected {
    background: url(../img/star.png);
}

div.bigstars div.rateit-reset {
    background: url(../img/star.png);
    width: 26px;
    height: 26px;
}

div.bigstars div.rateit-reset:hover {
    background: url(../img/star.png);
}

/* start messages */
.message {
    min-height: 50px;
    font-size: 18px;
    background: rgb(85, 85, 85);
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    line-height: 20px;
    padding: 15px 25px;
    @include box-sizing(border-box);
    overflow: hidden;
    vertical-align: middle;

    &.success{
        background: rgb(236, 248, 241);
        border: 1px solid rgb(148, 219, 183);
        color: rgb(148, 219, 183);
        a{
            color: rgb(148, 219, 183);
        }
        .tag{
            background: url(../img/msg_success.png) no-repeat;
        }
    }
    &.info{
        background: rgb(253, 245, 240);
        border: 1px solid rgb(241, 214, 196);
        color: rgb(216, 173, 143);
        a{
            color: rgb(216, 173, 143);
        }
        .tag{
            display: none;
        }
    }
    &.error{
        background: rgb(253, 205, 204);
        border: 1px solid rgb(241, 196, 195);
        color: rgb(231, 133, 131);
        a{
            color: rgb(231, 133, 131);
        }
        .tag{
            background: url(../img/msg_error.png) no-repeat;
        }
    }
    li {
        vertical-align: middle;
        display: inline-block;
        &.info, &.error, &.success{
            width: 900px;
        } 
    }
    .tag{
        width: 25px;
        height: 25px;
    }
    .close{
        float: right;
        a{
            width: 25px;
            height: 25px;
            font-size: 25px;
            @include rotate(45deg);
        }
    }
}

.messages {
    height: 100px !important;
    .info {
        color: $dark_blue !important;
        background: white !important;
        width: 100% !important;
        cursor: default !important;
    }
}


#header{
    background: $light_purple;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 20px;
    text-align: center;

    .back{
        float: left;
    }
    .menu{
        float: right;
    }
    .title{
        display: inline-block;
        line-height: 50px;
    }
}

#footer{
    width: 100%;
    background: rgb(239, 239, 244);
    color: white;
    font-size: 16px;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    z-index: 101;
    ul{
        width: 100%;
        overflow: hidden;
        border-top: 1px solid $font_gray;
        li{
            height: 50px;
            float: left;
            width: 20%;
            .middled{
                text-align: center;
            }
        }
    }
    ul.not_logged{
        li{
            width: 50%;
            font-size: 20px;
            .sign_up{
                background: rgb(104, 102, 102);
                a{
                    display: inline-block;
                    width: 100%;
                    color: white;
                }
            }
            .log_in{
                a{
                    color: rgb(104, 102, 102);
                }
            }
        }
    }
}

// START WHO YOU ARE
#content{
    margin-bottom: 50px;
}

.column{
    font-size: 16px;
    color: $font_gray;
    a{
        color: $font_gray;
    }
    ul.progressbar {
        width: 100%;
        height: 25px;
        padding: 5px;
        overflow: visible;
        background: rgb(151, 211, 178);
        li {
            float: left;
            position: relative;
            width: 15px;
            height: 15px;
            background: white;
            border-radius: 999px;
            color: rgb(96, 111, 128);
            font-size: 15px;
            white-space: nowrap;
            margin-left: 25%;
            margin-top: 5px;
            &.active {
                background: white;
            }
            &:first-child {
                margin-left: 0px;
            }
            span {
                position: absolute;
                top: -25px;
                left: -10px;
            }
            &:not(:first-child).active {
                span:before {
                    content: "";
                    width: 139px;
                    height: 5px;
                    background: white;
                    display: block;
                    top: 30px;
                    left: -129px;
                    position: absolute;
                }
            }
        }
    }
}

#who_you_are {
    width: 100%;
    height: auto;
    text-align: center;
    @include box-sizing(border-box);
    span {
        font-size: 18px;
        margin-bottom: 20px;
    }
    a {
        @include box-sizing(border-box);
        border: 1px solid $border_gray;
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        background: white;
        vertical-align: center;
        text-align: left;
        overflow: hidden;
        min-height: 130px;
        div {
            @include box-sizing(border-box);
            position: relative;
            top: 20px;
            width: 88px;
            height: 88px;
            margin-right: 10px;
            margin-left: 15px;
            float: left;
            border: 2px solid $font_gray;
            border-radius: 99px;
            text-align: center;
            div {
                background: url(../img/sign_up.png) no-repeat;
                border: none;
                width: 45px;
                height: 45px;
                left: 4px;
                top: 24px;
                &.artist {
                    background-position: 2px -302px;
                }
                &.salon {
                    background-position: 2px -146px;
                }
            }
        }
        ul {
            padding-left: 100px;
            li {
                margin-left: 14px;
            }
            .title {
                line-height: 2.4em;
            }
            .content {
                line-height: 1.1em;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }
    }
}
/* END WHO YOU ARE */

// START Register forms
#forms, #step_4{
    color: $font_gray;
    background: white;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
    @include box-sizing(border-box);
    &.login{
        .title{
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: rgb(104, 102, 102);
            margin-bottom: 20px;
        }
    }
    &>ul>li{
        margin-top: 20px;
        &:first-child{
            margin-top: 0px;
        }
        &.even{
            margin-top: 10px;
        }
    }
    .facebook{
        position: relative;
    }
    .facebook_icon {
        width: 40px;
        height: 40px;
        position: absolute;
        background: url("../img/facebook_icon.png") no-repeat;
        background-size: 35px;
    }
    li.or {
        position: relative;
        margin-top: 45px;
        margin-bottom: 45px;
        // text-align: center;
        div {
            height: 2px;
            width: 100%;
            background: rgb(154, 158, 161);
        }
        div.or {
            position: absolute;
            top: -19px;
            width: 38px;
            height: 38px;
            margin: auto;
            left: 0px;
            right: 0px;
            border-radius: 999px;
            text-align: center;
            line-height: 38px;
            color: rgb(239, 239, 239);
            font-size: 13px;
            background: rgb(154, 158, 161);
            // display: inline-block;
        }
    }
    .facebook_button{
        color: rgb(239, 239, 239);
        margin-top: -2px;
        border-radius: 5px;
        border: 0px;
        background: $facebook_blue;
        cursor: pointer;
        font-size: 16px;
    }
    .upload_button {
        position: absolute;
        width: 100%;
        height: 40px;
        background: rgb(77, 150, 174);
        color: white;
        font-size: 15px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }
    .photos_upload{
        position: relative;
        height: 40px;
    }
    .avatar_upload{
        position: relative;
        text-align: center;
        #id_avatar {
            margin-top: 12px;
            opacity: 0;
            cursor: pointer;
        }
        #preview {
            position: relative;
            border-radius: 99px;
            display: inline-block;
        }   
    }
    #id_gender{
        overflow: hidden;
        li{
            float: left;
            input{
                width: auto;
            }
        }
    }
    #id_picture{
        z-index: 2;
        position: absolute;
        opacity: 0;
    }
    #gallery_preview{
        overflow: hidden;
        .ready_photo {
            height: 267px;
            width: 190px;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid $border_gray;
            &.active {
                .cover_photo {
                    background: rgb(151, 211, 176) !important;
                }
            }
            ul.action {
                width: 100%;
                padding: 17px;
                @include box-sizing(border-box);
                background: rgb(239, 236, 236);
                li {
                    float: none !important;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 5px;
                    color: white !important;
                    text-align: center;
                    cursor: pointer;
                    -webkit-transition: background 1s, color 1s;
                    transition: background 1s, color 1s;
                }
                .delete {
                    background: rgb(234, 76, 136);
                    margin-bottom: 25px;
                }
                .cover_photo {
                    background: rgb(108, 103, 105);
                    &:hover{
                        background: rgb(151, 211, 176);
                    }
                }
            }
        }
    }
}

#img_container {
    background: rgb(238, 240, 234);
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 10000;
    // min-height: 53%;
    .text{
        color: black;
    }
}

div.forms.crop_me {
    margin-top: 40px;
    padding: 35px;
    position: relative;
    height: auto;
    div.text {
        font-size: 18px;
        padding-bottom: 20px;
    }
}
// END Register forms

#content{
    .home{
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        line-height: 140px;
        text-align: center;
        color: white;
        position: relative;
        display: block;
        &.venues{
            background: url(../img/venues.png) no-repeat;
            background-size: 100%;
        }
        &.catering{
            background: url(../img/catering.png) no-repeat;
            background-size: 100%;
        }
        &.drinks{
            background: url(../img/drinks.png) no-repeat;
            background-size: 100%;
        }
        &.music{
            background: url(../img/music.png) no-repeat;
            background-size: 100%;
        }
        &.entertainment{
            background: url(../img/entertainment.png) no-repeat;
            background-size: 100%;
        }
        &.equipment{
            background: url(../img/equipment.png) no-repeat;
            background-size: 100%;
        }
        &.decoration{
            background: url(../img/decoration.png) no-repeat;
            background-size: 100%;
        }
        &.party_goods{
            background: url(../img/party.png) no-repeat;
            background-size: 100%;
        }
        .new_button{
            position: absolute;
            margin: 0px;
            top: 0px;
            left: 0px;
        }
        .overlay{
            background: rgba(0,0,0,0.4);
            background-size: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            line-height: 140px;
            max-width: 100%;
            max-height: 100%;
        }
        // .new_button{

        // }
    }
}

#profile{
    position: relative;
    .profile_background{
        background: white;
        width: 100%;
        height: 305px;
        position: absolute;
    }
    .profile_overlay{
        position: absolute;
        background: rgba(0,0,0,0.5);
        width: 100%;
        height: 305px;
    }
    .profile_content{
        position: absolute;
        color: white;
        font-size: 16px;
        width: 100%;

        li{
            text-align: center;
            margin-top: 10px;
            img{
                display: inline-block;
                border-radius: 999px;
            }
            div{
                display: inline-block;
            }
            .new_button{
                margin-top: 0px;
                border-color: black;
                background: rgba(255,255,255,0.5);
                color: black;
            }
        }
    }
    .controllers{
        color: black;
        position: relative;
        z-index: 1;
        ul{
            position: absolute;
            width: 100%;
            height: 60px;
            min-width: 320px;
        }
        .nav_bar{
            li{
                text-align: center;
                display: inline-block;
                width: 24.2%;
                font-size: 14px;
                height: 60px;
                line-height: 60px;
                margin-top: 0px !important;
                color: white;
                // position: relative;
                a{
                    display: inline-block;
                    position: relative;
                }
                &.active{
                    color: rgba(255,255,255,0.7);
                    a:after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid white;
                        top: 45px;
                        left: 31%;
                    }
                }
            }
        }
        .overlay{
            position: absolute;
            background: rgba(0,0,0,0.5);
            width: 100%;
            height: 60px;
            left: 0px;
            top: 0px;
            z-index: 0;
        }
    }
    .tab_wrapper{
        position: relative;
    }
    #worktime{
        font-size: 15px;
        background: white;
        color: rgb(96, 99, 102);
        padding: 10px;
        padding-left: 10%;
        line-height: 30px;
        @include box-sizing(border-box);
    }
    .wrapper{
        height: 306px;
        position: relative;
    }

    &.seeker{
        .wrapper{
            // height: 257px;
        }
        .profile_background{
            height: 250px;
            background: white;
        }
        .profile_content{
            color: rgb(96, 99, 102);            
        }
        .profile_overlay{
            height: 257px;
            background: white;
        }
        .controllers .overlay{
            position: absolute;
            background: rgba(103,128,159,1);
            width: 100%;
            height: 60px;
            left: 0px;
            top: 0px;
            z-index: 0;
        }
    }
    &.salon{
        .wrapper{
            height: 230px;
        }
        .profile_background{
            height: 230px;
            background: white;
        }
        .profile_content{
            color: rgb(96, 99, 102);            
        }
        .profile_overlay{
            height: 230px;
            background: white;
        }
        .controllers .overlay{
            position: absolute;
            background: rgba(103,128,159,1);
            width: 100%;
            height: 60px;
            left: 0px;
            top: 0px;
            z-index: 0;
        }
    }
}

ul.gallery {
    margin-top: 10px;
    margin-bottom: 50px;    
    width: 100%;
    text-align: center;
    li.pic_view {
        background: white;
        position: relative;
        margin: 0 0 50px 5px;
        display: inline-block;
        width: 242px;
        @include box-sizing(border-box);
        border: 1px solid $border_gray;
        ul {
            li {
                &.picture {
                    position: relative;
                    height: 143px;
                    width: 100%;
                    a{
                        display: inline-block;
                        &:hover{
                            .overlay{
                                -webkit-transition: background 0.7s, font-size 0.7s;
                                transition: background 0.7s, font-size 0.7s;
                                font-size: 18px;
                                line-height: 143px;
                                background: rgba(222,222,111, 0.7);
                                img{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .overlay{
                        position: absolute;
                        top: 0px;
                        height: 143px;
                        width: 100%;
                        font-size: 0px;
                        color: black;
                        text-align: center;
                        background: rgba(222,222,111, 0);
                        img{
                            display: none;
                        }
                    }
                }
                &.text {
                    @include box-sizing(border-box);
                    height: 125px;
                    width: 100%;
                    background: white;
                    text-align: center;
                    padding-left: 20px;
                    padding-right: 20px;
                    div {
                        height: 62px;
                        display: table-cell;
                        vertical-align: middle;
                        color: $font_gray;
                        font-weight: 400;
                        font-size: 16px;
                    }
                    .title {
                        width: 200px;
                    }
                    .heart {
                        float: left;
                        &:before {
                            content: "";
                            background: url(../img/heart.png) no-repeat;
                            width: 26px;
                            height: 26px;
                            padding-right: 32px;
                        }
                    }
                    /*price... delete please*/
                    .price {
                        position: absolute;
                        left: 97px;
                    }
                    .comments {
                        float: right;
                        position: relative;
                        right: 5px;
                        &:after {
                            content: "";
                            background: url(../img/comments.png) no-repeat;
                            width: 26px;
                            height: 26px;
                            padding-left: 28px;
                            left: 7px;
                            padding-left: 30px;
                            position: relative;
                        }
                    }
                }
                &.artist {
                    position: absolute;
                    bottom: -30px;
                    width: 60px;
                    height: 60px;
                    margin-left: 90px;
                    z-index: 99;
                    border-radius: 99px;
                    cursor: pointer;
                    img {
                        border-radius: 99px;
                        border: 1px solid $border_gray;
                    }
                }
                &.edit {
                    text-align: center;
                    a {
                        margin-top: 0px;
                        display: inline-block;
                        font-size: 14px;
                    }
                }
                &.delete {
                    text-align: center;
                    a {
                        display: inline-block;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
                &.pending {
                    text-align: center;
                    font-size: 16px;
                    color: gray;
                    padding-bottom: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &.forbidden {
                    text-align: center;
                    font-size: 16px;
                    color: red;
                    padding-bottom: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
}

// @media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px) {
//   body {
//     background: #ccc;
//   }
// }

#reviews {
    overflow: hidden;
    padding: 0px !important;
    @include box-sizing(border-box);
    color: $font_gray;
    font-size: 16px;
    background: white;

    .nothing{
        padding-bottom: 10px;
    }
    
    &.styled{
        background: white;
        border: 1px solid $border_gray;
        border-top: 0px;
    }

    .review{
        border-bottom: 1px solid $border_gray;
        overflow: hidden;
        min-height: 100px;
        padding-top: 20px;
        &:last-child{
            border: none;
        }
        .left{
            @include box-sizing(border-box);
            padding-left: 20px;
            width: 100px;
            float: left;
            img{
                border-radius: 99px;
            }
        }
        .right{
            float: left;
            @include box-sizing(border-box);
            min-width: 385px;
            padding-right: 20px;
            .info{
                margin-top: 10px;
                span{
                    margin-right: 10px;
                }
            }
        }
    }
}

#followers {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    ul {
        padding: 0px !important;
        .followed {
            float: left;
            margin-left: 10px;
            margin-top: 55px;
            width: 110px;
            height: 110px;
            background: white;
            border: 1px solid $border_gray;
            position: relative;
            text-align: center;
            .avatar {
                position: relative;
                top: -45px;
                img {
                    border: 1px solid $border_gray;
                    border-radius: 99px;
                }
            }
            .name {
                position: relative;
                top: -30px;
                font-size: 16px;
                color: $font_gray;
                white-space: normal;
            }
            &:nth-child(6n){
                margin-right: 0px;
            }
        }
    }
}

#artists {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    ul {
        padding: 0px !important;
        .artist {
            float: left;
            margin-left: 10px;
            margin-top: 55px;
            width: 110px;
            height: 110px;
            background: white;
            border: 1px solid $border_gray;
            position: relative;
            text-align: center;
            .avatar {
                position: relative;
                top: -45px;
                img {
                    border: 1px solid $border_gray;
                    border-radius: 99px;
                }
            }
            .name {
                position: relative;
                top: -30px;
                font-size: 16px;
                color: $font_gray;
                white-space: normal;
            }
            &:nth-child(6n){
                margin-right: 0px;
            }
        }
    }
}

.nothing{
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
}

#listing_view{
    background: white;
    font-size: 16px;
    .title{
        padding: 10px;
        background: white;
        line-height: 32px;
        @include box-sizing(border-box);
        span{
            min-width: 60%;
            display: inline-block;
        }
        .info{
            width: 38%;
            min-width: 175px;
            height: 32px;
            display: inline-block;
            text-align: right;
            span{
                margin: 0px;
                min-width: 30% !important;
                font-size: 16px;
                text-align: right;
            }
        }
    }
    .image{
        text-align: center;
        img{
            display: inline-block;
        }
    }
    .whishlist{
        text-align: center;
        .pink_button{
            color: white;
            width: 250px;
            line-height: 40px;
            height: 40px;
            border-radius: 5px;
            background: rgb(213, 85, 228);
            display: inline-block;
            cursor: pointer;
            border: 1px solid $border_gray;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 15px;
            &:before{
                content: "";
                width: 25px;
                height: 25px;
                padding-left: 25px;
                position: relative;
                background: url(../img/white_heart.png) no-repeat;
            }
        }
    }
    #gallery{
        margin: auto;
    }
    .description{
        b{
            font-weight: 600;
            color: black;
        }
        margin-left: 20px;
        margin-top: 20px;
        line-height: 30px;
    }
    .social{
        text-align: center;
        border-bottom: 2px solid $border-gray;
        .likes {
            margin-bottom: 20px;
            margin-top: 20px;
            overflow: hidden;
            display: inline-block;
            li {
                @include box-sizing(border-box);
                background: url(../img/likes.png) no-repeat;
                height: 39px;
                float: left;
                margin-right: 10px;
                color: black;
                font-weight: 600;
                font-size: 16px;
                padding-top: 12px;
                padding-right: 8px;
                text-align: right;
                cursor: pointer;
                &:last-child {
                    margin-right: 0px;
                }
                &.like {
                    width: 40px;
                    background-position: -50px;
                    color: $facebook_blue;
                }
                &.tweet {
                    width: 40px;
                    background-position: 0px;
                    color: rgb(0, 174, 241);
                }
                &.pin {
                    width: 40px;
                    background-position: -166px;
                    color: rgb(127, 21, 21);
                    &+a {
                        display: none !important;
                    }
                }
                &.google_plus {
                    background-position: -110px;
                    width: 40px;
                }
            }
        }
    }
    .price{
        font-size: 25px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .book_it{
        text-align: center;
        .book_button{
            border: 2px solid rgb(123, 98, 104);
            width: 220px;
            border-radius: 99px;
            color: rgb(123, 98, 104);
        }
        #id_date, #id_time{
            width: 111px;
            margin-bottom: 10px;
        }
        #id_time{
            margin-left: 10px;
        }
    }
    .cancellation_policy{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .artist{
        border-top: 2px solid $border_gray;
        border-bottom: 2px solid $border_gray;
        background: rgb(236, 236, 236);
        min-height: 180px;
        .artist_box{
            margin: auto;
            width: 320px;
            margin-top: 40px;
            div{
                line-height: 30px;
                text-align: center;
                // &.rateit{
                //     margin-left: 50px;
                // }
                &.name{
                    font-size: 20px;
                }
            }
        }
        img{
            border-radius: 99px;
            margin-right: 20px;
        }
        a{
            float: left;
        }
    }
}

#book_now{
    label{
        display: block;
        text-align: center;
    }
    #id_email{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 80%;
        display: inline-block;
    }
}

.ad-image{
    // left: 0px !important;
}

.ad-next{
    display: block !important;
    min-height: 400px;
}

#bookings{
    background: white;
    .booking{
        width: 100%;
        min-height: 150px;
        border-bottom: 1px solid $border_gray;
        overflow: hidden;
        .left{
            width: 30%;
            float: left;
            .date{
                border-radius: 999px;
                background: rgb(158, 153, 161);
                color: white;
                width: 95px;
                height: 95px;
                margin: auto;
                margin-top: 13px;
                font-size: 18px;
                text-align: center;
                @include box-sizing(border-box);
                padding-top: 20px;
                padding-bottom: 20px;
                .day{
                    // line-height: 60px;
                    font-size: 35px;
                }
            }
            .hour{
                text-align: center;
                font-size: 18px;
                margin-top: 7px;
            }
        }
        .right{
            width: 70%;
            float: left;
            font-size: 16px;
            @include box-sizing(border-box);
            padding: 15px;
            a{
                color: $font_gray;
                text-decoration: underline;
            }
            .actions{
                form{
                    display: inline-block;
                }
            }
        }
    }
}

.mobile_button{
    color: white;
    width: 130px;
    margin-top: 10px;
    &.green{
        background: rgb(151, 211, 178);
        border: 1px solid rgb(151, 211, 178);
        margin-right: 10px;
    }
    &.red{
        background: rgb(234, 76, 136);
        border: 1px solid rgb(234, 76, 136);
    }
}

#wallet{
    .head{
        background: rgb(158, 153, 161);
        color: white;
        height: 100px;
        li{
            @include box-sizing(border-box);
            font-size: 16px;
            padding-top: 30px;
            display: inline-block;
            text-align: center;
            width: 33%;
            position: relative;
            &:after{
                content: "|";
                width: 2px;
                height: 50px;
                font-size: 30px;
                position: absolute;
                top: 25px;
                left: 95%;
            }
            &:last-child:after{
                content: "";
            }
        }
    }
    .transactions{
        .transaction{
            color: rgb(102, 102, 102);
            font-size: 16px;
            background: white;
            width: 100%;
            border: 1px solid $border_gray;
            @include box-sizing(border-box);
            padding: 20px;
            line-height: 20px;
            a{
                color: rgb(102, 102, 102);
                text-decoration: underline;
            }
        }
    }
}

#notifications{
    .notification{
        min-height: 100px;
        overflow: hidden;
        background: white;
        padding: 20px;
        @include box-sizing(border-box);
        font-size: 16px;
        border: 1px solid $border_gray;
        .left{
            float: left;
            margin-right: 10px;
        }
        .right{
            float: left;
            line-height: 30px;
            width: 70%;
        }
        a{
            color: #666666;
            text-decoration: underline;
        }
    }
}

#step_4{
    li{
        position: relative;
    }
    #ginit{
        position: absolute;
        opacity: 0;
        width: 100%;
    }
    .upload_controllers{
        height: 50px;
    }
    #gallery_preview{
        li{
            float: left;
            margin-right: 15px;
            margin-bottom: 15px;
            height: 160px;
            border: 1px solid $border_gray;
            background: $border_gray;
            .cancel_button{
                display: block;
                width: 140px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                border-radius: 99px;
                margin-top: 10px;
                margin-left: 20px;
                border-color: rgb(174, 68, 96);
                background: rgb(174, 68, 96);
                color: white;
                z-index: 1000;
                cursor: pointer;
            }
        }
    }
}

#service{
    .head{
        line-height: 60px;
        height: 60px;
        .filters{
            display: inline-block;
            color: rgb(142, 142, 142);
            border: 2px solid rgb(142, 142, 142);
            width: 130px;
            height: 35px;
            font-size: 16px;
            line-height: 35px;
            text-align: center;
            border-radius: 99px;
            margin-left: 20px;
            margin-top: 10px;
            cursor: pointer;
        }
        .c_show{
            float: right;
            width: 130px;
            height: 35px;
            border: 2px solid rgb(148, 168, 182);
            border-radius: 99px;
            margin-top: 10px;
            margin-right: 20px;
            &>div{
                width: 50%;
                height: 100%;
                float: left;
                cursor: pointer;
                text-align: center;
                @include box-sizing(border-box);
                &.active{
                    background: rgb(148, 168, 182);
                }
                span{
                    width: 32px;
                    height: 32px;
                }
            }
            .l_show{
                border-right: 2px solid rgb(148, 168, 182);
                span{
                    background-position: -136px -445px;
                }
                &.active{
                    border-top-left-radius: 99px;
                    border-bottom-left-radius: 99px;
                    span{
                        background-position: -84px -445px;
                    }
                }
            }
            .m_show{
                span{
                    background-position: -240px -445px;
                }
                &.active{
                    span{
                        background-position: -185px -445px;
                    }
                    border-top-right-radius: 99px;
                    border-bottom-right-radius: 99px;
                }
            }
        }
    }
}

.swipe {  
    overflow: hidden;
    position: relative;
    width: 100%;  
    height: auto;
}
.swipe-wrap {  
    overflow: hidden;  
    position: relative;  
}  
.swipe-wrap > div {  
    float: left;  
    width: 100%;  
    position: relative;  
}

#left_slider{
    background: rgb(145, 137, 197);
    color: white;
    width: 0%;
    height: 100%;
    border-right: 1px solid $border_gray;
    @include box-shadow(rgba(0, 0, 0, 0.5) 10px 0 5px -2px);
    position: absolute;
    top: 0px;
    z-index: 10011;
    li{
        width: 100%;
        display: inline-block;
        &.avatar{
            text-align: center;
            margin-bottom: 10px;
            img{
                border-radius: 99px;
            }
            a{
                padding: 0px;
            }
        }
        &.name{
            text-align: center;
            color: white;
            font-size: 16px;
        }
        &.service{
            border-bottom: 1px solid white;
            font-size: 16px;
            line-height: 30px;
            padding-left: 20px;
            @include box-sizing(border-box);
        }
        &.search_text{
            font-size: 16px;
            line-height: 30px;
            padding-left: 20px;
            @include box-sizing(border-box);
        }
        &.search_box{
            width: 80%;
            margin-left: 20px;
            margin-top: 20px;
            position: relative;
            input[type="text"]{
                border-radius: 99px;
                border: 0px;
                border-top: 1px solid $border_gray;
                font-size: 14px;
                height: 35px;
                width: 100%;
                padding-left: 10px;
            }
            input[type="submit"]{
                position: absolute;
                background: rgb(215, 215, 224);
                width: 90px;
                height: 35px;
                right: 0px;
                top: 0px;
                border: none;
                border-radius: 99px;
                cursor: pointer;
            }
            .search_icon{
                position: absolute;
                width: 30px;
                height: 40px;
                right: 0px;
                top: 0px;
                margin-right: 30px;
                margin-top: 3px;
                z-index: 1;
                background: url(../img/magnifier_2.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            }
        }
    }
}

#top_slider{
    background: rgba(255, 255, 255,0.9);
    position: absolute;
    margin-top: 50px;
    top: 0px;
    width: 100%;
    z-index: 100;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 65px;
    @include box-sizing(border-box);
    .controllers{
        text-align: center;
        width: 100%;
        .new_button{
            font-size: 16px;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 0px;
        }
    }

    .filters_box{
        // height: 100%;
        width: 100%;
        border: 1px solid rgb(214, 208, 208);
        @include box-sizing(border-box);
        padding: 5px;
        padding-bottom: 50px;
        .title{
            text-align: center;
            font-size: 18px;
            line-height: 45px;
            @include box-sizing(border-box);

        }
        li.filter{
            width: 100%;
            border: 1px solid rgb(214, 208, 208);
            margin-bottom: 30px;
            .title{
                border-bottom: 1px solid rgb(214, 208, 208);
                text-align: left;
                padding-left: 25px;
            }
            .content{
                min-height: 100px;
            }
            &.date_range{
                    text-align: center;
                #datepicker {
                    display: inline-block;
                    &.datapicker_1{
                        margin-top: 10px;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                    ul {
                        width: 195px;
                        height: 35px;
                        border: 3px solid rgba(236, 236, 236, 0.5);
                        background: rgb(236, 236, 236);
                        border: 1px solid $border_gray;
                        border-radius: 5px;
                        li {
                            float: left;
                        }
                        .datepicker {
                            background: url(../img/calendar_icon.png) no-repeat center;
                            height: 100%;
                            width: 35px;
                            font-weight: normal;
                            border-right: 1px solid rgb(172, 172, 172);
                        }
                        .timepicker {
                            background: url(../img/time_icon.png) no-repeat center;
                            height: 100%;
                            width: 35px;
                            font-weight: normal;
                            border-right: 1px solid rgb(172, 172, 172);
                        }
                        .date_preview {
                            font-size: 13px;
                            padding-left: 15px;
                            color: rgb(98, 95, 95);
                            position: relative;
                            line-height: 36px;
                            /*top: -2px;*/
                            span {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
            &.price div.content{
                height: 80px;
                padding: 20px;
                padding-top: 10px;
                ul{
                    margin-top: 20px;
                    text-align: center;
                    li{
                        display: inline-block;
                    }
                    .price{
                        height: 42px;
                        width: 82px;
                        border: 1px solid $border_gray;
                        border-radius: 5px;
                        line-height: 42px;
                        font-size: 20px;
                        @include box-sizing(border-box);
                        text-align: center;
                    }
                    .separator{
                        width: 20px;
                        height: 10px;
                        background: url(../img/double_arrow.png) no-repeat;
                    }
                }
            }
            &.rating{
                .content{
                    height: 180px;
                    font-size: 18px;
                    li{
                        margin-bottom: 10px;
                        margin-top: 10px;
                        line-height: 20px;
                        label{
                            height: 23px;
                            width: 23px;
                            background: url(../img/radio_button.png) no-repeat;
                            display: block;
                            float: left;
                            margin-right: 10px;
                            cursor: pointer;

                            &.active{
                                background: url(../img/radio_button.png);
                                background-position: 25px 0px;
                            }
                        }
                        // div{
                        //     float: left;
                        // }
                    }
                }
            }
            &.tags{
                .content{
                    text-align: center;
                    color: rgb(128, 128, 128);
                    position: relative;
                    height: auto;
                    padding-bottom: 10px;
                    input{
                        margin-top: 10px;
                        border: 1px solid $border_gray;
                        width: 90%;
                    }
                    .blue_button{
                        width: 80px;
                        height: 40px;
                        border-left: 0px;
                        border-radius: 0px 5px 5px 0px;
                        position: absolute;
                        margin-right: 5%;
                        right: 0px;
                        top: 10px;
                        font-size: 16px;
                    }
                    .inserted_tags{
                        overflow: hidden;
                    }
                    .tag_me {
                        font-size: 14px;
                        background: white;
                        border: 2px solid $border_gray;
                        color: $font_gray;
                        border-radius: 5px;
                        display: inline-block;
                        float: left;
                        height: 30px;
                        line-height: 30px;
                        padding-left: 10px;
                        padding-right: 20px;
                        margin-left: 10px;
                        margin-top: 10px;
                        div {
                            display: inline-block;
                        }
                        .tag-close {
                            position: relative;
                            left: 10px;
                            background: url(../img/close_icon.png) no-repeat;
                            height: 14px;
                            width: 15px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

.left_slider.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0);
    top: 0px;
    left: 0px;
}

.dialog_box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0px;
    .wrapper{
        position: fixed;
        left: 0px;
        right: 0px;
        margin: auto;
        margin-top: 20px;
        width: 280px;
        height: auto;
        color: white;
        font-size: 1.5em;
        border: 1px solid $border_gray;
        .head{
            width: auto;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: $light_purple;
            a{
                float: right;
                margin-right: 15px;
            }
        }
        .body{
            color: black;
            padding: 10px;
            text-align: center;
            line-height: 20px;
            background: white;
        }
    }
}

.picker__list{
    width: auto !important;
    height: auto !important;
}
.picker__list-item{
    float: none !important;
}


// START listing details
.booking_preview{
    .note{
        background: rgb(252, 245, 148);
        color: rgb(96, 99, 102);
        text-align: center;
        padding: 20px;
        @include box-sizing(border-box);
        font-size: 14px;
        span{
            font-size: 16px;
            margin: 20px;
            display: inline-block;
        }
    }
    li{
        font-weight: 600;
        padding: 10px;
        span{
            font-weight: 400;
        }
    }
    .picture{
        padding: 0px;
        img{
            width: 100%;
        }
    }
}

/* START Paypal landing page */
.paypal_land{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: $font_gray;
    .icon{
        position: relative;
        top: 10px;
        width: 32px;
        height: 32px;
        display: inline-block;
    }
    .success{
        line-height: 32px;
        .ok{
            background: url(../img/OK_payment.png) no-repeat;
        }
        color: rgb(62, 156, 105);
    }
    
    .error{
        line-height: 32px;
        .not_ok{
            background: url(../img/NOK_payment.png) no-repeat;
        }
        color: rgb(211, 90, 88);
    }

    .info{
        margin-top: 20px;
        margin-bottom: 160px;
        a{
            text-decoration: underline;
            color: $font_gray;
        }
    }
}
/* END Paypal landing page */

#settings{
    ul.settings{
        padding: 10px;
        @include box-sizing(border-box);
        .avatar{
            text-align: center;
            img,canvas{
                border-radius:99px;
            }
            &+li{
                position: relative;
            }
        }
        .blue_button{
            text-align: center;
            width: 100%;
            border: none;
        }
        #id_avatar{
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0;
            cursor: pointer;
        }
        input[type="submit"]{
            border: none;
        }
        .profile_editable{
            li{
                margin-top: 5px;
                label{
                    line-height: 30px;
                }
            }
        }
    }
}

.settings.head{
        overflow: hidden;
    &>li{
        width: calc(50% - 2px);
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border: 1px solid $cool_blue;
        &.active{
            background: $cool_blue;
            a{
                color: white;
            }
        }
    }
}

div.artists {
    overflow: hidden;
    background: white;
    padding: 40px;
    padding-top: 90px;
    margin-bottom: 40px;
    color: $font_gray;
    font-size: 16px;
    ul {
        li.artist, li.new_artist {
            @include box-sizing(border-box);
            position: relative;
            width: 160px;
            min-height: 140px;
            text-align: center;
            padding: 60px 10px 20px;
            float: left;
            margin-right: 20px;
            margin-bottom: 55px;
            border: 1px solid $border_gray;
            img {
                position: absolute;
                top: -50px;
                left: 30px;
                width: 95px;
                height: 95px;
                border: 3px solid $dark_blue;
                border-radius: 999px;
            }
            div {
                color: $light_blue;
                &.type {
                    margin-top: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}