{% extends "master.html" %}
{% load i18n %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Change Password</title>
{% endblock meta %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>CHANGE PASSWORD</span>
    </div>

    <div class="column">
        <div class="forms">
            <form class="login" method="post" action=".">
                {% csrf_token %}
                <input type="hidden" value="{{ email_token }}" name="token">
                <ul>
                    <li>
                        {% if form.new_password.errors %}
                            {{ form.new_password.errors }}
                        {% endif %}
                        <label for="" class="main_label">New Password</label></li>
                    <li>
                        {{ form.new_password }}
                    </li>
                    <li>
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password.errors }}
                        {% endif %}
                        <label for="" class="main_label">Confrim New Password</label></li>
                    <li>
                        {{ form.confirm_password }}
                    </li>
                    <li>

                        <input type="submit" value="Change Password">
                    </li>

                </ul>
            </form>
        </div>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}
        <script src="{{STATIC_URL}}js/error.js"></script>
    {% endblock scripts %}
</body>
</html>