{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Followed</title>
{% endblock meta %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>FOLLOWED ARTISTS</span>
    </div>

    <div class="column">
            <ul class="gallery">
                {% for listing in listings %}
                <li class="pic_view">
                    <ul>
                        <li class="picture">
                            <a href="/listings/{{ listing.id }}">
                            {% thumbnail listing.get_picture "240x143" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% empty %}
                                tc
                            {% endthumbnail %}
                                <div class="overlay"></div>
                            </a>
                        </li>
                        <li class="text">
                            <div class="title">{{ listing.title }}</div>
                            <p>
                                <div class="heart">{{ listing.likes }}</div>
                                <div class="price">$ {{ listing.price|floatformat:-3 }}</div>
                                <div class="comments">{{ listing.comments }}</div>
                            </p>
                        </li>
                        <li class="artist">
                        <a href="/artists/profile/{{ listing.artist_id }}">
                            {% thumbnail listing.artist.get_avatar "60x60" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% empty %}
                                tc
                            {% endthumbnail %}
                        </a>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}

    {% block scripts %}

    {% endblock scripts %}
</body>
</html>