{% extends "master.html" %}
{% load i18n %}
{% load thumbnail %}

{% block meta %}
    <title>Partytask – booking platform for top event professionals and service providers - Settings</title>
{% endblock meta %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/select2.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/css/imgselectarea.css">
{% endblock stylesheets %}

    {% block content %}
<div id="content">
    <div class="header">
        <span>SETTINGS</span>
    </div>

    <div class="column">
        <div class="head">
            <ul>
                <li><a class="active">PROFILE</a></li>
            </ul>
        </div>

        <form method="POST" action="{{ request.get_full_path }}" id="settings" enctype="multipart/form-data" class="user">
            {% csrf_token %}
            <ul class="settings">
                <li class="profile_picture">
                    <ul>
                        <li class="avatar">
                            {{ form.errors }}
                            <div>
                                {% thumbnail profile.get_avatar "150x150" crop="center" as im %}
                                    <img src="{{ im.url }}">
                                {% empty %}
                                    <img src="{{ STATIC_URL }}img/default.png">
                                {% endthumbnail %}
                            </div>
                        </li>
                        <li>
                            <div class="small_button gray change hidden">Change</div>
                            {{ form.avatar }}
                            {{ form.cropped_image }}
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="left profile">
                        <li class="name">
                            <label for="" class="main_label">
                                {% if form.name.errors %}
                                    {{ form.name.errors }}
                                {% endif %}
                                Name
                            </label>
                            {{ form.name }}
                        </li>                       
                        <li class="setting_buttons">
                            <div class="small_button gray edit">Edit</div>
                            <div class="small_button gray cancel hidden">Cancel</div>
                            <input type="submit" value="Save" class="small_button green save hidden">
                        </li>
                    </ul>
                </li>
            </ul>
        </form>

    </div>
</div>

    {% endblock content %}

    {% block scripts %}
        <script src="{{STATIC_URL}}js/error.js"></script>
        <script src="{{STATIC_URL}}js/preview.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/imgSelectArea.js"></script>
        <script type="text/javascript">
            $("#settings input").attr("disabled", "disabled");

            $(".edit").click(function(){
                $(".small_button.change, .small_button.save, .small_button.cancel").removeClass("hidden");
                $(".edit").addClass("hidden");
                $("#settings input, #settings textarea").removeAttr("disabled", "disabled");
            });
            $(".small_button.cancel").click(function(){location.reload();});
        
            $(".message .close a").click(function(){
                $("ul.message").remove();
            });
        </script>
    {% endblock scripts %}
</body>
</html>